@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Yeseva+One&display=swap');
.heading {
    width: 92vw;
    min-width: 100px;
    height: auto;
    min-height:45vw;
    margin-top: 60px;
    background: #FFF4D7;
    box-shadow: 0px 31px 36px 2px rgba(0, 0, 0, 0.25);
    border-radius: 40px 40px 200px 40px;
} 
.row {
    display: flex;
    align-items: center;
}

.col {
    position: relative;
    margin-left: 90px;
    margin-top: 35px;
}

.col h1 {
    font-size: 9vw;
    color: #4A3724;
    font-family: 'Yeseva One', cursive;
}

.col h3 {
    margin: 0px 30px 50px 30px;
    font-size: 1.5vw;
    color: #6E8668;
    font-family: 'Source Code Pro', monospace;
}
button {
    margin: 0px 30px 0px 30px;
    width: 10vw;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #ffff;
    background-color: #E49757;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: 1px;
}

.col-2 {
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
}